html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}